@import "tailwindcss";

@theme {
  --font-display: var(--font-imbue);
  --font-mono: var(--font-victor-mono);
  
  --color-brand-bg: #fffbe8;
  --color-brand-primary: #0b6839;
  --color-brand-neon: #fee101;
  --color-brand-pink: #ff0080;
}

@layer utilities {
  .brutalist-shadow {
    box-shadow: 6px 6px 0px 0px #000000;
  }
  
  .brutalist-shadow-neon {
    box-shadow: 6px 6px 0px 0px var(--color-brand-neon);
  }
  
  .brutalist-border {
    border: 3px solid #000000;
  }
  
  .text-shadow-solid {
    text-shadow: 3px 3px 0px #000000;
  }

  .text-shadow-pink {
    text-shadow: 2px 2px 0px var(--color-brand-pink);
  }
}

html,
body {
  height: 100%;
}

/* Custom Scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--color-brand-bg);
  border-left: 2px solid #000;
}
::-webkit-scrollbar-thumb {
  background: var(--color-brand-neon);
  border: 2px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-primary);
}
